<h1 mat-dialog-title>Hi {{data.name}}</h1>
<mat-dialog-content class="mat-typography">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi natus iure, molestias tempore perferendis, voluptate laboriosam delectus ea cupiditate expedita, odio repudiandae nihil maiores totam. Iste odio dolor mollitia hic!
  Nihil excepturi minus neque. Doloribus veniam vero inventore quam repellat eum, architecto corporis excepturi non soluta quasi consequuntur nemo optio praesentium quaerat suscipit quae, voluptas officia quis aliquam odio cum!
  Tempore eligendi aliquam harum nisi eum rem iste reiciendis, vero impedit. Magni labore, quisquam officia quibusdam sint voluptate? Possimus enim sit illo officia incidunt, tempora ad minus repudiandae reiciendis maiores.
  Laboriosam reprehenderit ad odio esse vero. Id, esse sit. Repellat possimus, labore velit neque repudiandae, consectetur explicabo natus omnis suscipit cumque saepe officiis! Doloribus rerum voluptates quis error ut laudantium.
  Obcaecati sit, amet veniam debitis error tempore voluptates quibusdam autem, itaque voluptatibus laboriosam illum laborum ut iste quas nemo neque natus accusamus! Cupiditate, possimus sapiente consequuntur nisi quos facere necessitatibus?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
