/* IMPOSTAZIONI GENERALI */
body {
    text-align: center;
    font-family: "Open sans";
    color: #393d41;
    line-height: 1.65em;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

section {
    padding: 30px;
}

h1,h2,h3,h4 {
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.5em;
}

h1 {
    color: #25a2c3;
    font-size: 2.5rem;
    line-height: 1em;
}

h2 {
    color: white;
    font-size: 2.5rem;

    padding: 20px 0px;
}

h3 {
    color: #25a2c3;
    font-size: 1.2rem;

    padding: 10px 0px;
}

h4 {
    color: white;
    font-size: 2rem;

    padding: 10px 0px;
}

p {
    padding-bottom: 20px;
}

/* HEADER */
header {
    background-color: black;
    padding: 2rem;
}

header img {
    width: 50%;
    max-width: fit-content;
}

/* MAIN */

main {
    font-family: 'Open Sans';
}

/* ARTICLE */

.partiamo {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.partiamo p {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 50px;
}

.button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    
    padding: 15px 50px;
    background-color: #f04c2f;
    border-radius: 5px;
}

.button:hover{
    background-color: #e22d0e;
}

/* ELEMENTI NEL MAIN - ARTICLE */

#notebook {
    border-radius: 50%;
    margin: 20px 0px;
}

blockquote {
    color: white;

    background-color: #e22d0e;
    padding: 20px
}

blockquote p {
    font-style: italic;
    font-size: 1.3rem;
}

blockquote cite {
    display: block;
    line-height: 1.5em;
}

cite>p {
    font-size: 1rem;
}

/* ELEMENTI NELL' ASIDE */

aside {
    padding: 30px;
}

aside div {
    margin: 30px auto;
    max-width: 640px;

    border: 1px solid #dee1e3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div>p {
    font-size: 1.2rem;

    padding: 15px;
    margin-bottom: 20px;
}

/* FOOTER */

footer {
    background-color: #25a2c3;
    padding: 30px;
}

footer address {
    font-size: 1.1rem;

    padding: 10px 0px;
}

footer address b {
    display: block;
}

footer a,b {
    color: #c8e7f0;
    line-height: 1.5em;
}

footer i {
    color: white;
}

footer>p {
    color: #c8e7f0;
    font-size: 0.8rem;

    border-top: 1px solid #c8e7f0;
    margin: 10px 20%;
    padding-top: 20px;
}