@media screen and (min-width: 768px) {

    #courses-mobile,
    .container {
        display: none;
    }

    #courses {
        display: table;
    }

    .menu {
        height: auto;
        box-shadow: none;

        text-align: right;
        right: 30px;

        top: calc((-53px/2) + 40px);
    }

    .button-container {
        display: none;
    }

    .menu li {
        display: inline;
    }

    .navigator {
        width: auto;
        font-size: 1.2rem;
        top: 20px;
        right: 20px;
    }

    .menu {
        padding: 10px 0;
    }

    .menu .register {
        color: white;
        background: linear-gradient(90deg, #6cc1e2 10%, #392f7a 100%);
        padding: 15px;
    }

    .menu li a:hover {
        color: #e42424;
    }

    .menu .register:hover {
        color: #ddd;
    }

    .menu li:hover {
        background: none;
    }

    .summary,
    .become,
    .social {
        display: flex;
        align-content: center;
    }

    .summary div {
        flex: 1 1 30%;
        margin: 20px 15px;
    }

    h4 {
        font-size: 1.5em;
    }

    .contact-us h3 {
        margin-top: 0;
    }

    .exposition .summary div p {
        text-align: left;
    }


    .contact .summary .button {
        font-size: 1.5rem;
    }

    .contact .summary {
        gap: 5%;
    }

    .contact .summary form>input,
    .contact .summary form>textarea {
        font-size: 1.2rem;
    }

    .contact-us,
    .welcome {
        padding: 110px 15%;
    }

    .become {
        text-align: left;

        align-content: center;
        align-items: center;

        gap: 20px;
    }

    .become div {
        flex: 1 1 50%;
    }

    .social div {
        flex: 1 1 30%;
        margin: 0 15px;
    }

    .copyright {
        text-align: center;
    }

    footer span {
        display: inline;
    }

    footer form {
        margin-top: 30px;
    }

}

@media screen and (min-width: 1024px) {

    .exposition,
    .become,
    .container,
    .welcome>div,
    .social,
    .contact,
    .navigator,
    .we-are {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigator>div {
        position: relative;
    }

    .message {
        height: 240px;
    }

    .contact .summary {
        gap: 10%;
    }

    .contact {
        /*mette il footer nella parte bassa della parte  bassa della pagina negli schermi grandi*/
        min-height: calc(100vh - 492px - 88px);
    }

}