@media screen and (min-width: 768px) {

    #courses-mobile {
        display: none;
    }

    #courses {
        display: table;
    }

    #menu-toggle {
        height: auto;
    }

    .container label>i {
        display: none;
    }

    #menu-toggle li {
        display: inline;
    }

    .container nav {
        width: auto;
        font-size: 1.2rem;
        top: 20px;
        right: 20px;
    }


    .container #menu-toggle {
        padding: 10px 0;
    }

    .container #menu-toggle .register {
        color: white;
        background: linear-gradient(90deg, #6cc1e2 10%, #392f7a 100%);
        padding: 15px;
    }

    .summary,
    .become,
    .social {
        display: flex;
        align-content: center;
    }

    .summary div {
        flex: 1 1 30%;
        margin: 20px 15px;
    }

    h4 {
        font-size: 1.5em;
    }

    .contact-us h3 {
        margin-top: 0;
    }

    .exposition .summary div p {
        text-align: left;
    }


    .contact .summary .button {
        font-size: 1.5rem;
    }

    .contact .summary{
        gap: 5%;
    }

    .contact .summary form>input,
    .contact .summary form>textarea {
        font-size: 1.2rem;
    }

    .contact-us,
    .welcome {
        padding: 110px 15%;
    }

    .become {
        align-content: center;
        align-items: center;
    }

    .become div {
        flex: 1 1 50%;
    }

    .social div {
        flex: 1 1 30%;
        margin: 0 15px;
    }

    .copyright {
        text-align: center;
    }

    footer span {
        display: inline;
    }

    footer form {
        margin-top: 30px;
    }

}

@media screen and (min-width: 1024px) {

    .exposition,
    .become,
    .container,
    .welcome>div,
    .social,
    .contact,
    .we-are {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .message{
        height: 240px;
    }

    .contact .summary{
        gap: 10%;
    }

    .contact{ /*mette il footer nella parte bassa della parte  bassa della pagina negli schermi grandi*/
        min-height: calc(100vh - 492px - 88px);    
    }

}