/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HEADER */


header {
    font-family: 'Raleway', sans-serif;
    background-color: #2bb0d8;
    text-align: center;
    border-bottom: 10px solid #1e94b8;
    font-size: 2rem;    
    line-height: 3rem;
}

h1 {
    text-transform: uppercase;
    color: white;

}

h1>span::before{
    content: "\a";
    white-space: pre;
}

h1>span {
    color: #2bb0d8;
    background-color: white;
}


header h2 {
    font-variant: small-caps;
    font-size: 1.7rem;
    line-height: 6rem;
}

/* MAIN */

hr {    
    height: 20px;
    border: #bbb;
    border-style:none none dashed;
}

main {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

/* ELEMENTI NEL MAIN */

section h2 {
    text-transform: uppercase;
    text-align: center;
    color: #1e94b8;
    font-size: 2rem;
    line-height: 6rem;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    padding: 5px;
    border: 2px solid #bbb;
}

figure figcaption {
    text-align: center;
}

div address {
    line-height: 2em;
}

div address b {
    font-weight: bold;
}

a {
    color: #ff4000;
}

p b {
    line-height: 4em;
    font-weight: bold;
}

blockquote {
    padding: 20px;
    text-indent: 5px;
    text-justify: inter-word;
    border-radius: 10px;
    background-color: #bbb;
}

blockquote p {
    text-align: center;
    font-style: italic;
}

strong {
    color: #1e94b8;
}

div h3 {
    font-weight: bold;
    line-height: 3em;
}

mark {
    background-color: #1e94b8;
    color: white;
}

ul {
    margin-left: 2em;
}

dd {

    margin-left: 2em;
}

/* FOOTER */

footer {
    border-top: 8px solid #1e94b8;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #555;
    line-height: 1.5rem;
}

kbd {
    color: yellow;
    font-weight: bold;
    font-style: italic;
}

small {
    color: grey;
}