$tab-color :#003669;

nz-descriptions {
  margin: 1rem 1rem;

}

form{
  margin: 3vh 0;
  max-width: 1200px;

  @media (min-width: 768px) {
    margin: 3vh 5%;
  }

  @media (min-width: 1300px) {
    margin: 3vh auto;
  }
}

::ng-deep .ant-descriptions-bordered {

  .ant-descriptions-title {
    color: #ccc;
  }

  .ant-descriptions-view,
  .ant-descriptions-item-content,
  .ant-descriptions-row {
    border-color: $tab-color;
    background-color: $tab-color;
    color: white;
    padding: 0
  }
}

.ant-input {
  color: white;
  padding: 0;
  padding: 0 0.5rem;

}

[disabled] {
  cursor: default;
}


.anticon.tool {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  margin-right: 12px;
  margin-left: 4px;
}


#reset-btn {
  margin-left: 1rem;
}

::selection {
  color: $tab-color;
  background: white;
}
