@import '../scss/_variables.scss';

ul {
  text-align: start;
  margin: 0 auto;

  max-width: 1000px;

}

li {
  display: grid;
  grid: max-content / auto auto;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.2rem;
}
