@import 'function';

$offcanvas-horizontal-width: max-content;

$primary: rgb(119, 123, 133);
$bg-card: rgb(103, 112, 135);
$bg-body: rgb(229, 226, 222) ;
$info: rgb(170, 171, 173);

$secondary: $bg-body;

$box-shadow: textShowUp($primary,false);

$navbar-light-color: textShowUp($primary,true);
$bg-primary: $navbar-light-color;

$arrow-filter: filter($primary);

$body-color: textShowUp($bg-body,true);
$border-color: $body-color;

$card-text: $box-shadow;

