<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <h3>Login</h3>
    <nz-form-item>
      <nz-form-control nzErrorTip="Formato email inserita errato!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Inserisci password!">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Ricordami</span>
        </label>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzLoading]="isLoading" [nzType]="'primary'">Log in</button>
    Oppure
    <a [routerLink]="'/register'">registrati adesso!</a>
  </form>

  <ng-template #suffixTemplate>
    <span
      nz-icon
      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
      (click)="passwordVisible = !passwordVisible"
    ></span>
  </ng-template>
